<section class="mx-10">
  <h1 class="text-2xl font-bold">Pipes básicos.</h1>
  <h3 class="text-xl font-thin">Pipes incluídos en Angular.</h3>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Lowercase Pipe</div>
    <div class="stat-value">{{ nameUpper()| lowercase }}</div>
    <div class="stat-desc">{{ nameUpper() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Uppercase Pipe</div>
    <div class="stat-value">{{ nameLower() | uppercase }}</div>
    <div class="stat-desc">{{ nameLower() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Titlecase Pipe</div>
    <div class="stat-value">{{ fullName() | titlecase}}</div>
    <div class="stat-desc">{{ fullName() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Fecha pipe</div>
    <div class="stat-value">{{ customDate() | date }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Fecha :long:GMT-6 </div>
    <div class="stat-value">{{ customDate() | date: 'long': 'GMT-6' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>
</div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Fecha: 'yyyy MM'</div>
    <div class="stat-value">{{ customDate() | date: 'yyyy MM' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Fecha :short:GMT-5 </div>
    <div class="stat-value">{{ customDate() | date: 'short': 'GMT-5' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>
</div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Fecha: 'dd/MM/yy'</div>
    <div class="stat-value">{{ customDate() | date: 'dd/MM/yy' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Fecha :'HH:mm:ss' </div>
    <div class="stat-value">{{ customDate() | date: 'HH:mm:ss' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Fecha :'EEEE, d, MMMM' </div>
    <div class="stat-value">{{ customDate() | date: 'EEEE, d, MMMM' }}</div>
    <div class="stat-desc">{{ customDate() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="flex flex-row gap-2">
  <h1 class="text-2xl font-bold">Locale actual:
    <span class="badge badge-secondary">{{ currentLocale() }}</span>
  </h1>

  <button class="btn btn-primary" (click)="changeLocale('fr')">
    Cambiar a Française.
  </button>
  <button class="btn btn-primary" (click)="changeLocale('en')">
    Cambiar a English.
  </button>
  <button class="btn btn-primary" (click)="changeLocale('es')">
    Cambiar a Español.
  </button>
</div>